# Core
fastapi==0.115.2
uvicorn[standard]==0.32.0

# HTTP client
httpx[http2]==0.27.2

# Data validation and settings
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1

# Database
mysql-connector-python==8.2.0
sqlalchemy==2.0.23
alembic==1.13.1

# JWT and authentication
PyJWT==2.8.1
python-jose[cryptography]==3.3.0
bcrypt==4.1.2

# Telegram
python-telegram-bot==20.7

# Security
cryptography==41.0.7

# Optional utils
python-multipart==0.0.12
aiohttp==3.10.10  # для отладочных скриптов
